# Altium Designer ignore rules
History/
__History/
Project Logs for */
Project Outputs for */
*.CompileLog
*.SchDocError
*.PcbDocError
*.PcbDoc.htm
*.SchDoc.htm
*.LOCK
*.preview
*.LOG
*.png
*.TMP
*.Bak
*.OBJ
*.EXT
*.PCBLIB
*.SCHLIB
!docs/*.png
!docs/*.jpg
